In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [3]:
train = pd.read_csv('D:/Competetion/Kaggle/Titanic/train.csv')
test = pd.read_csv('D:/Competetion/Kaggle/Titanic/test.csv')
gender_submission = pd.read_csv('D:/Competetion/Kaggle/Titanic/gender_submission.csv')

In [4]:
train.drop(['Name', 'Ticket', 'Cabin', 'PassengerId'], axis = 1, inplace = True)
test.drop(['Name', 'Ticket', 'Cabin', 'PassengerId'], axis = 1, inplace = True)

In [5]:
# 删除带缺失值的变量
train = train.dropna()
test = test.dropna()

In [6]:
# 独热编码
train_dummy = pd.get_dummies(train[['Sex', 'Embarked']])
test_dummy = pd.get_dummies(test[['Sex', 'Embarked']])

In [27]:
# 拼接数据 
train_conti = pd.DataFrame(train, columns = ['Survived', 'Pclass', 'Age', 'Parch', 'Fare'], index = train.index)

train_conti = train_conti.join(train_dummy)
# test = test_std_conti.join(test_dummy)

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    712 non-null    float64
 1   Pclass      712 non-null    float64
 2   Age         712 non-null    float64
 3   Parch       712 non-null    float64
 4   Fare        712 non-null    float64
 5   Sex_female  712 non-null    uint8
 6   Sex_male    712 non-null    uint8
 7   Embarked_C  712 non-null    uint8
 8   Embarked_Q  712 non-null    uint8
 9   Embarked_S  712 non-null    uint8
dtypes: float64(5), uint8(5)
memory usage: 56.9 KB

In [40]:
train

,Survived,Pclass,Age,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,-0.824163,0.908600,-0.527669,-0.506787,-0.516380,0,1,0,0,1
1,1.213352,-1.482983,0.577094,-0.506787,0.694046,1,0,1,0,0
2,1.213352,0.908600,-0.251478,-0.506787,-0.503620,1,0,0,0,1
3,1.213352,-1.482983,0.369951,-0.506787,0.350326,1,0,0,0,1
4,-0.824163,0.908600,0.369951,-0.506787,-0.501257,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
885,-0.824163,0.908600,0.646142,5.350885,-0.102875,1,0,0,1,0
886,-0.824163,-0.287191,-0.182430,-0.506787,-0.407687,0,1,0,0,1
887,1.213352,-1.482983,-0.734812,-0.506787,-0.086335,1,0,0,0,1
889,1.213352,-1.482983,-0.251478,-0.506787,-0.086335,0,1,1,0,0
890,-0.824163,0.908600,0.162808,-0.506787,-0.506928,0,1,0,1,0

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 0 to 415
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      331 non-null    float64
 1   Age         331 non-null    float64
 2   Parch       331 non-null    float64
 3   Fare        331 non-null    float64
 4   Sex_female  331 non-null    uint8
 5   Sex_male    331 non-null    uint8
 6   Embarked_C  331 non-null    uint8
 7   Embarked_Q  331 non-null    uint8
 8   Embarked_S  331 non-null    uint8
dtypes: float64(4), uint8(5)
memory usage: 24.5 KB

In [28]:
x = train.iloc[ : , 1: ]
y = train.iloc[ : , 0 ]
# 使用iloc函数达到切片目的

##### 数据集划分

In [18]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 569 entries, 867 to 858
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      569 non-null    float64
 1   Age         569 non-null    float64
 2   Parch       569 non-null    float64
 3   Fare        569 non-null    float64
 4   Sex_female  569 non-null    uint8
 5   Sex_male    569 non-null    uint8
 6   Embarked_C  569 non-null    uint8
 7   Embarked_Q  569 non-null    uint8
 8   Embarked_S  569 non-null    uint8
dtypes: float64(4), uint8(5)
memory usage: 25.0 KB

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [31]:
# 归一化
stdsc = StandardScaler()
x_train_conti = stdsc.fit_transform(x_train[[ 'Pclass', 'Age', 'Parch', 'Fare']])
x_test_conti = stdsc.fit_transform(x_test[['Pclass', 'Age', 'Parch', 'Fare']])

# 标准化
x_train_conti_std = pd.DataFrame(x_train_conti, columns = ['Pclass', 'Age', 'Parch', 'Fare'], index = x_train.index)
x_test_conti_std = pd.DataFrame(x_test_conti, columns = ['Pclass', 'Age', 'Parch', 'Fare'], index = x_test.index)
#  抽离出所需的DataFrame

##### 模型训练

In [36]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 569 entries, 867 to 858
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      569 non-null    float64
 1   Age         569 non-null    float64
 2   Parch       569 non-null    float64
 3   Fare        569 non-null    float64
 4   Sex_female  569 non-null    uint8
 5   Sex_male    569 non-null    uint8
 6   Embarked_C  569 non-null    uint8
 7   Embarked_Q  569 non-null    uint8
 8   Embarked_S  569 non-null    uint8
dtypes: float64(4), uint8(5)
memory usage: 25.0 KB

In [38]:
y_train

867   -0.824163
332   -0.824163
20    -0.824163
606   -0.824163
379   -0.824163
         ...
885   -0.824163
239   -0.824163
791   -0.824163
705   -0.824163
858    1.213352
Name: Survived, Length: 569, dtype: float64

In [34]:
lgr = LogisticRegression(random_state = 0)
lgr.fit(x_train, y_train)

ValueError: Unknown label type: 'continuous'